{% extends 'core/base.html' %}

{% block title %}TORTAS{% endblock %}

{% block background %}{% load static %}{% static 'core/img/sobre-nosotros.jpg' %}{% endblock %}

{% block headers %} 
    <h1>SOBRE NOSOTROS</h1>
    <span class="subheading">BIOGRAFIA</span>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatarr.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">MARY CAKES</h2>   
          <p>SOMOS UNA PASTELERIA QUE INNOVA EN SUS DELICIOSAS TORTAS Y POSTRES</p>
        </div>
      </div>  
    </div>
{% endblock %}
